/* LandingPage.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000;
}

button {
  background-color: #FF5733;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #D14617;
}

button a {
  color: #fff;
  text-decoration: none;
}

button a:hover {
  text-decoration: underline;
}
