.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.landing-title {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bold;
}

.landing-button:hover {
  background-color: darkred;
}
